<ion-header>
  <ion-navbar color="app">
          <ion-row>
              <div id="menu-item">
                <img menuToggle id="menu" src="assets/imgs/menu_b.svg"/>
              </div>
              <ion-title text-center *ngIf="nick != null">{{nick.toUpperCase()}}</ion-title>
          </ion-row>
  </ion-navbar>
</ion-header>


<ion-content class="fundo_nivel" padding>
  <ion-list *ngFor="let nivel of niveis">
    <ion-item color="appSecond" class="nivel">
      <h1>NIVEL {{nivel}}</h1> <div *ngIf="nivel == 1" item-end id="facil"></div> <div *ngIf="nivel == 2" item-end id="medio"></div> <div *ngIf="nivel == 3" item-end id="dificil"></div>
    </ion-item>
  </ion-list>
</ion-content>
