
<ion-header>
    <ion-navbar color="app">
            <ion-row>
                <div id="menu-item">
                    <img (click)="voltar()" id="voltar" src="assets/imgs/arrow-back_b.png"/>
                </div>
                <ion-title text-center>Ranking</ion-title>
            </ion-row>
    </ion-navbar>
  </ion-header>


<ion-content class="fundo_app" padding>
  <div *ngIf="ranking != null">
      <ion-list *ngFor="let colocado of ranking; let i = index">
        <ion-item color="appSecond" class="colocados">
          {{i+1}} - {{colocado.nick}} : <strong class="pontosRanking">{{colocado.pontos}} pontos</strong>
        </ion-item>
      </ion-list>
  </div>
</ion-content>
